@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('AvenirNext-Bold.eot');
  src: url('AvenirNext-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-BoldItalic';
  src: url('AvenirNext-BoldItalic.eot');
  src: url('AvenirNext-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url('AvenirNext-DemiBold.eot');
  src: url('AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-DemiBoldItalic';
  src: url('AvenirNext-DemiBoldItalic.eot');
  src: url('AvenirNext-DemiBoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Heavy';
  src: url('AvenirNext-Heavy.eot');
  src: url('AvenirNext-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-HeavyItalic';
  src: url('AvenirNext-HeavyItalic.eot');
  src: url('AvenirNext-HeavyItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Italic';
  src: url('AvenirNext-Italic.eot');
  src: url('AvenirNext-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Medium';
  src: url('AvenirNext-Medium.eot');
  src: url('AvenirNext-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-MediumItalic';
  src: url('AvenirNext-MediumItalic.eot');
  src: url('AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('AvenirNext-Regular.eot');
  src: url('AvenirNext-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-UltraLight';
  src: url('AvenirNext-UltraLight.eot');
  src: url('AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-UltraLightItalic';
  src: url('AvenirNext-UltraLightItalic.eot');
  src: url('AvenirNext-UltraLightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

